In [1]:
import pandas as pd

In [2]:
# loading the dataset
df_train = pd.read_csv('/kaggle/input/titanic/train_data.csv')
df_train

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,787,788,0,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,788,789,1,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,789,790,0,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,790,791,0,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [3]:
# dropping unnecessary columns(first 2)
df_train.drop(['Unnamed: 0', 'PassengerId'], axis=1,inplace = True)
df_train

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,0,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,1,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,0,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,0,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [4]:
# taking Survived column in Y_train and other columns in X_train
X_train = df_train.iloc[:,1:]
Y_train = df_train.iloc[:,:1]

In [5]:
X_train

,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

In [6]:
# chceking is there any missing values
for column in X_train.columns:
    print(X_train[column].isna().value_counts())

False    792
Name: Sex, dtype: int64
False    792
Name: Age, dtype: int64
False    792
Name: Fare, dtype: int64
False    792
Name: Pclass_1, dtype: int64
False    792
Name: Pclass_2, dtype: int64
False    792
Name: Pclass_3, dtype: int64
False    792
Name: Family_size, dtype: int64
False    792
Name: Title_1, dtype: int64
False    792
Name: Title_2, dtype: int64
False    792
Name: Title_3, dtype: int64
False    792
Name: Title_4, dtype: int64
False    792
Name: Emb_1, dtype: int64
False    792
Name: Emb_2, dtype: int64
False    792
Name: Emb_3, dtype: int64

In [7]:
features = X_train.columns
target = Y_train.columns

In [8]:
import numpy as np

In [9]:
# performing Correlation analysis to find unnecessary columns 
significant_features = []
threshold = 0.5
for col in X_train:
    corelation = np.corrcoef(X_train[col],Y_train['Survived'])[0,1]
    if(corelation >= threshold):
        significant_features.append(col)
        
significant_features

[]

In [10]:
# importing Logistic Regression from sklearn library
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
# training the model with train data
model.fit(X_train,Y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [12]:
# loading test dataset
df_test = pd.read_csv('/kaggle/input/titanic/test_data.csv')
df_test

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1
1,792,793,0,0,0.3500,0.135753,0,0,1,1.0,0,0,0,1,0,0,1
2,793,794,0,1,0.3500,0.059914,1,0,0,0.0,1,0,0,0,1,0,0
3,794,795,0,1,0.3125,0.015412,0,0,1,0.0,1,0,0,0,0,0,1
4,795,796,0,1,0.4875,0.025374,0,1,0,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,886,887,0,1,0.3375,0.025374,0,1,0,0.0,1,0,0,0,0,0,1
96,887,888,1,0,0.2375,0.058556,1,0,0,0.0,0,0,0,1,0,0,1
97,888,889,0,0,0.3500,0.045771,0,0,1,0.3,0,0,0,1,0,0,1
98,889,890,1,1,0.3250,0.058556,1,0,0,0.0,1,0,0,0,1,0,0
99,890,891,0,1,0.4000,0.015127,0,0,1,0.0,1,0,0,0,0,1,0

In [13]:
df_test.drop(['Unnamed: 0', 'PassengerId'], axis=1,inplace = True)
df_test

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1
1,0,0,0.3500,0.135753,0,0,1,1.0,0,0,0,1,0,0,1
2,0,1,0.3500,0.059914,1,0,0,0.0,1,0,0,0,1,0,0
3,0,1,0.3125,0.015412,0,0,1,0.0,1,0,0,0,0,0,1
4,0,1,0.4875,0.025374,0,1,0,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,0.3375,0.025374,0,1,0,0.0,1,0,0,0,0,0,1
96,1,0,0.2375,0.058556,1,0,0,0.0,0,0,0,1,0,0,1
97,0,0,0.3500,0.045771,0,0,1,0.3,0,0,0,1,0,0,1
98,1,1,0.3250,0.058556,1,0,0,0.0,1,0,0,0,1,0,0
99,0,1,0.4000,0.015127,0,0,1,0.0,1,0,0,0,0,1,0

In [14]:
X_test = df_test.iloc[:,1:]
Y_test = df_test.iloc[:,:1]

In [15]:
#traing model with test data
Y_predicted = model.predict(X_test)

In [16]:
Y_test

    Survived
0          0
1          0
2          0
3          0
4          0
..       ...
95         0
96         1
97         0
98         1
99         0

[100 rows x 1 columns]

In [17]:
# renameing Survived column to Y_true
Y_test.rename(columns = {'Survived':'Y_True'},inplace = True)

In [18]:
# creating new dataframe with the predicted result
Y_predicted = pd.DataFrame({'Y_predicted': Y_predicted})

In [19]:
# merging two df
result_df = pd.merge(Y_test,Y_predicted, left_index=True, right_index=True)
result_df.head(50)

    Y_True  Y_predicted
0        0            0
1        0            0
2        0            1
3        0            0
4        0            0
5        1            1
6        1            1
7        0            0
8        0            1
9        0            0
10       1            1
11       1            1
12       1            1
13       1            0
14       0            0
15       0            0
16       0            1
17       0            0
18       1            1
19       0            0
20       0            0
21       0            0
22       0            0
23       0            0
24       0            0
25       0            1
26       0            0
27       0            0
28       0            0
29       1            1
30       1            0
31       0            0
32       1            1
33       0            0
34       0            0
35       0            0
36       1            1
37       1            0
38       1            1
39       1            1
40       1            1
41       0            0
42       0            0
43       0            0
44       1            1
45       0            0
46       0            0
47       1            0
48       1            1
49       0            0

In [20]:
# create new column to easily visualize whether they matched or not
result_df['Match'] = np.where(result_df['Y_True'] == result_df['Y_predicted'], 'Yes', 'No')
result_df

    Y_True  Y_predicted Match
0        0            0   Yes
1        0            0   Yes
2        0            1    No
3        0            0   Yes
4        0            0   Yes
..     ...          ...   ...
95       0            0   Yes
96       1            1   Yes
97       0            0   Yes
98       1            1   Yes
99       0            0   Yes

[100 rows x 3 columns]

In [21]:
result_df['Match'].value_counts()

Yes    88
No     12
Name: Match, dtype: int64

In [22]:
model.score(X_test,Y_test)

0.88